name: Try build binaries

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Build gateway
        run: go build -v ./cmd/gateway

      - name: Build worker
        run: go build -v ./cmd/worker